@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #f9fafb; 
}

a {
  text-decoration: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

h1,h2,h3{
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th{
  padding: 20px;
  font-size: 20px;
}

tr, td{
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
  font-size: 16px;
}